.search-bar {
    display: flex;
    justify-content: start;
    width: 99%;
    margin: 30px 0px;
}
.search-icon {
    padding-right: 5px;
    zoom: 1.8;
}
.search-input {
    background-color: rgb(233,233,233);
    border-radius: 10px;
    width: 100%;
}
.search-input:focus {
    outline: none;
}